@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
}

main{
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: grid;
    grid-template-columns: 37%;
    grid-template-rows: 70%;
    justify-content: center;
    align-content: center;
}

.card_container{
    background-image: linear-gradient(hsla(212, 16%, 23%, 0.832),hsl(213, 23%, 17%)) ;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container_all_content{
    width: 85%;
    height: 90%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 10% 20% 12% 11%;
    align-content:space-around;
}

.star{
    width: 60px;
    height: 60px;
    background-color: hsla(213, 16%, 23%, 0.84);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.headline{
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-weight:700;
    font-size: 38px;
    margin-top: auto;
}

.paragraph{
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: -20px;
    line-height: 170%;
}

.rating_numbers{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.rate_number{
   width: 65px;
   height: 65px;
   background-color: hsla(213, 16%, 23%, 0.84);
   color: hsl(0, 0%, 100%);
   font-family: 'Overpass', sans-serif;
   font-weight: 700;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}

.rate_number:hover{
    background-color: hsl(217, 12%, 63%);
    cursor: pointer;
}

.rate_number:active{
    background-color: hsl(25, 97%, 53%);
}

#btn{
   border-radius: 25px;
   font-family: 'Overpass', sans-serif;
   font-weight: 700;
   font-size: 16px;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: hsl(0, 0%, 100%);
   background-color: hsl(25, 97%, 53%);
   border: solid hsl(25, 97%, 53%);
}

#btn:hover{
    background-color: hsl(0, 0%, 100%);
   border-color: hsl(0, 0%, 100%);
   color: hsl(25, 97%, 53%);
}



.container_thank_you_message{
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.thank_you_image{
    width: 200px;
    height: 150px;
}

.user_feedback{
   background-color: hsla(213, 16%, 23%, 0.84);
   color: hsl(25, 97%, 53%);
   font-family: 'Overpass', sans-serif;
   width: 50%;
   height: 40px;
   font-weight: 400;
   font-size: 18px;
   border-radius: 27px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
}

.thank_you_headline{
   color: hsl(0, 0%, 100%);
   font-family: 'Overpass', sans-serif;
   font-size: 40px;
   width: fit-content;
   height: fit-content;
   margin-bottom: -20px;
}

.appreciation_text{
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 170%;
    text-align: center;
    width:97%;
}


@media only screen and (max-width:1553px){
    .appreciation_text {
        font-size: 19px;
        line-height: 155%;
        width: 93%;
    }
}

@media only screen and (max-width:1519px){
    .appreciation_text {
        font-size: 18px;
        width: 90%;
    }
}

@media only screen and (max-width:1487px){
    .appreciation_text {
        font-size: 17.7px;
    }
}

@media only screen and (max-width:1462px){
    .appreciation_text {
        font-size: 17.4px;
    }
}

@media only screen and (max-width:1437px){
    .appreciation_text {
        font-size: 17.2px;
    }
}

@media only screen and (max-width:1429px){
    main{
        grid-template-columns: 40%;
    }
   .container_all_content{
        width: 82%;
        height: 93%;
    }
   .paragraph{
    font-size: 19px;
    }
    .container_thank_you_message {
        width: 80%;
        height: 93%;
    }
}

@media only screen and (max-width:1397px){
    .container_thank_you_message {
        width: 83%;
    }
}

@media only screen and (max-width:1346px){
    .container_thank_you_message {
        width: 85%;
    }
} 

@media only screen and (max-width:1314px){
    .container_thank_you_message {
        width: 87%;
    }
} 

@media only screen and (max-width:1285px){
    .container_thank_you_message {
        width: 90%;
    }
} 

@media only screen and (max-width:1241px){
    .container_thank_you_message {
        width: 92%;
    }
    .appreciation_text {
        font-size: 17px;
        width: 90%;
    } 
} 

@media only screen and (max-width:1201px){
    .container_thank_you_message {
        width: 93%;
    }
    .appreciation_text {
        width: 92%;
    } 
} 

/* .container_thank_you_message {
    width: 90%;
    height: 90%;
}
.appreciation_text {
    font-size: 19px;
    font-weight: 700;
    line-height: 155%;
    width: 93%;
} */

@media only screen and (max-width:1189px){
    main{
        grid-template-columns: 45%;
    }
    .container_thank_you_message {
        width: 85%;
    }
    .appreciation_text {
        font-size: 17.7px;
    } 
}

@media only screen and (max-width:1176px){
    .appreciation_text {
        font-size: 17.5px;
    } 
}

@media only screen and (max-width:1163px){
    .appreciation_text {
        font-size: 17.3px;
    } 
}

@media only screen and (max-width:1157px){
    main{
        grid-template-columns: 50%;
    }
    .container_thank_you_message {
        width: 80%;
    }
    .appreciation_text {
        font-size: 18px;
    } 
}

@media only screen and (max-width:1144px){
    .appreciation_text {
        font-size: 17.7px;
    } 
}

@media only screen and (max-width:1125px){
    .appreciation_text {
        font-size: 17.5px;
    } 
}

@media only screen and (max-width:1112px){
    .appreciation_text {
        font-size: 17.3px;
    } 
}

@media only screen and (max-width:1099px){
    .container_thank_you_message {
        width: 83%;
    }
    .appreciation_text {
        font-size: 17.7px;
    } 
}

@media only screen and (max-width:1084px){
    .thank_you_headline{
        font-size: 31px;
     }
}

@media only screen and (max-width:951px){
    main{
        grid-template-columns: 55%;
    }
}

@media only screen and (max-width:865px){
    main{
        grid-template-columns: 60%;
    }
} 

@media only screen and (max-width:793px){
    main{
        grid-template-columns: 65%;
    }
}

@media only screen and (max-width:732px){
    main{
        grid-template-columns: 70%;
    }
}

@media only screen and (max-width:680px){
    main{
        grid-template-columns: 75%;
    }
    .headline{
        font-size: 34px;
    }
}

@media only screen and (max-width:634px){
    main{
        grid-template-columns: 77%;
    }
}

@media only screen and (max-width:618px){
    main{
        grid-template-columns: 80%;
    }
}

@media only screen and (max-width:595px){
    main{
        grid-template-columns: 82%;
    }
}

@media only screen and (max-width:581px){
    main{
        grid-template-columns: 85%;
    }
}

@media only screen and (max-width:560px){
    main{
        grid-template-columns: 87%;
    }
}

@media only screen and (max-width:547px){
    main{
        grid-template-columns: 90%;
    }
}

@media only screen and (max-width:529px){
    main{
        grid-template-columns: 92%;
    }
}

@media only screen and (max-width:517px){
    .container_all_content {
        width: 85%;
    }
}
@media only screen and (max-width:507px){
    .appreciation_text {
        font-size: 17px;
    } 
}

@media only screen and (max-width:499px){
    .container_all_content {
        width: 87%;
    }
}

@media only screen and (max-width:488px){
    .container_all_content {
        width: 90%;
    }
    .appreciation_text {
        font-size: 16.3px;
    } 
    .user_feedback {
        width:60%;
    }
}

@media only screen and (max-width:471px){
    .thank_you_image{
        width: 150px;
        height: 100px;
    }
    .star {
        width: 57px;
        height: 57px;
    }
    .headline{
        font-size: 33px;
    }
    .paragraph {
        font-size: 18px;
    }
    .rate_number {
        width: 63px;
        height: 63px;
    }
    .appreciation_text{
        width: auto;
        font-size: 16px;
    }
}

@media only screen and (max-width:446px){
    .star {
        width: 55px;
        height: 55px;
    }
    .headline{
        font-size: 32px;
    }
    .paragraph {
        font-size: 17px;
    }
    .rate_number {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width:421px){
    .star {
        width: 53px;
        height: 53px;
    }
    .headline{
        font-size: 32px;
    }
    .paragraph {
        font-size: 16px;
    }
    .rate_number {
        width: 57px;
        height: 57px;
    }
    .container_thank_you_message{
        width: 90%;
    }
}

@media only screen and (max-width:397px){
    .star {
        width: 50px;
        height: 50px;
    }
    .headline{
        font-size: 31px;
    }
    .paragraph {
        font-size: 15px;
    }
    .rate_number {
        width: 55px;
        height: 55px;
    }
}

@media only screen and (max-width:389px){
    .container_thank_you_message{
        width: 100%;
    }
}

.hidden{
    display: none;
}