@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body{
    padding: 0;
    margin: 0;
}

main{
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: grid;
    grid-template-columns: 37%;
    grid-template-rows: 70%;
    justify-content: center;
    align-content: center;
}

.card_container{
    background-image: linear-gradient(hsla(212, 16%, 23%, 0.832),hsl(213, 23%, 17%)) ;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container_all_content{
    width: 85%;
    height: 90%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 10% 20% 12% 11%;
    align-content:space-around;
}

.star{
    width: 60px;
    height: 60px;
    background-color: hsla(213, 16%, 23%, 0.84);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.headline{
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-weight:700;
    font-size: 38px;
    margin-top: auto;
}

.paragraph{
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: -20px;
    line-height: 170%;
}

.rating_numbers{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.rate_number{
   width: 65px;
   height: 65px;
   background-color: hsla(213, 16%, 23%, 0.84);
   color: hsl(0, 0%, 100%);
   font-family: 'Overpass', sans-serif;
   font-weight: 700;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}

.rate_number:hover{
    background-color: hsl(217, 12%, 63%);
    cursor: pointer;
}

.rate_number b:hover{
    color: hsl(25, 97%, 53%);
}

#btn{
   border-radius: 25px;
   font-family: 'Overpass', sans-serif;
   font-weight: 700;
   font-size: 16px;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: hsl(0, 0%, 100%);
   background-color: hsl(25, 97%, 53%);
   border: solid hsl(25, 97%, 53%);
}

#btn:hover{
    background-color: hsl(0, 0%, 100%);
   border-color: hsl(0, 0%, 100%);
   color: hsl(25, 97%, 53%);
}



.container_thank_you_message{
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* display: none; */
}

.thank_you_image{
    width: 200px;
    height: 150px;
}

.user_feedback{
   background-color: hsla(213, 16%, 23%, 0.84);
   color: hsl(25, 97%, 53%);
   font-family: 'Overpass', sans-serif;
   width: 50%;
   height: 40px;
   font-weight: 400;
   font-size: 18px;
   border-radius: 27px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
}

.thank_you_headline{
   color: hsl(0, 0%, 100%);
   font-family: 'Overpass', sans-serif;
   font-size: 40px;
   width: fit-content;
   height: fit-content;
   margin-bottom: -20px;
}

.appreciation_text{
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 170%;
    text-align: center;
    width:97%;
}


.hidden{
    display: none;
}



/* ////////////////////////////////////////// */
/* START HERE */
@media only screen and (max-width:1486px){
    .paragraph{
        font-size: 16.5px;
        width: 85%;
    }
}
@media only screen and (max-width:1399px){
    .paragraph{
        width: 90%;
    }
}
/* ////////////////////////////////////////// */
